<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>
    Gestión de usuarios
  </title>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdn.datatables.net/2.0.2/css/dataTables.dataTables.css" />
  <script src="https://cdn.datatables.net/2.0.2/js/dataTables.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="./css/usuarios.css">
  <style>
    /* Tus estilos CSS van aquí */
  </style>
</head>

<body>

  <svg xmlns="http://www.w3.org/2000/svg" class="d-none">
    <symbol id="list" viewBox="0 0 16 16">
      <path fill-rule="evenodd"
        d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z" />
    </symbol>
    <symbol id="people" viewBox="0 0 16 16">
      <path
        d="M15 14s1 0 1-1-1-4-5-4-5 3-5 4 1 1 1 1h8Zm-7.978-1A.261.261 0 0 1 7 12.996c.001-.264.167-1.03.76-1.72C8.312 10.629 9.282 10 11 10c1.717 0 2.687.63 3.24 1.276.593.69.758 1.457.76 1.72l-.008.002a.274.274 0 0 1-.014.002H7.022ZM11 7a2 2 0 1 0 0-4 2 2 0 0 0 0 4Zm3-2a3 3 0 1 1-6 0 3 3 0 0 1 6 0ZM6.936 9.28a5.88 5.88 0 0 0-1.23-.247A7.35 7.35 0 0 0 5 9c-4 0-5 3-5 4 0 .667.333 1 1 1h4.216A2.238 2.238 0 0 1 5 13c0-1.01.377-2.042 1.09-2.904.243-.294.526-.569.846-.816ZM4.92 10A5.493 5.493 0 0 0 4 13H1c0-.26.164-1.03.76-1.724.545-.636 1.492-1.256 3.16-1.275ZM1.5 5.5a3 3 0 1 1 6 0 3 3 0 0 1-6 0Zm3-2a2 2 0 1 0 0 4 2 2 0 0 0 0-4Z" />
    </symbol>
    <symbol id="door-closed" viewBox="0 0 16 16">
      <path d="M3 2a1 1 0 0 1 1-1h8a1 1 0 0 1 1 1v13h1.5a.5.5 0 0 1 0 1h-13a.5.5 0 0 1 0-1H3V2zm1 13h8V2H4v13z" />
      <path d="M9 9a1 1 0 1 0 2 0 1 1 0 0 0-2 0z" />
    </symbol>
  </svg>

  <header class="navbar sticky-top bg-dark flex-md-nowrap p-0 shadow" data-bs-theme="dark">
    <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3 fs-6 text-white" href="#">La Salle Bajío</a>

    <ul class="navbar-nav flex-row d-md-none">
      <li class="nav-item text-nowrap">
        <button class="nav-link px-3 text-white" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSearch"
          aria-controls="navbarSearch" aria-expanded="false" aria-label="Toggle search">
          <svg class="bi">
            <use xlink:href="#search" />
          </svg>
        </button>
      </li>
      <li class="nav-item text-nowrap">
        <button class="nav-link px-3 text-white" type="button" data-bs-toggle="offcanvas" data-bs-target="#sidebarMenu"
          aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
          <svg class="bi">
            <use xlink:href="#list" />
          </svg>
        </button>
      </li>
    </ul>
  </header>

  <div class="container-fluid">
    <div class="row flex-column-reverse flex-md-row">

      <div class="sidebar border border-right col-md-3 col-lg-2 p-0 bg-body-tertiary" style="min-height: 100vh;">
        <div class="offcanvas-md offcanvas-end bg-body-tertiary" tabindex="-1" id="sidebarMenu"
          aria-labelledby="sidebarMenuLabel">
          <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="sidebarMenuLabel">La Salle Bajío</h5>
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" data-bs-target="#sidebarMenu"
              aria-label="Close"></button>
          </div>
          <div class="offcanvas-body d-md-flex flex-column p-0 pt-lg-3 overflow-y-auto">
            <ul class="nav flex-column">
              <li class="nav-item">
                <a class="nav-link d-flex align-items-center gap-2 active" aria-current="page" href="#">
                  <svg class="bi">
                    <use xlink:href="#people" />
                  </svg>
                  Usuarios
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link d-flex align-items-center gap-2" href="#">
                  <svg class="bi">
                    <use xlink:href="#list" />
                  </svg>
                  Empleados
                </a>
              </li>
            </ul>
            <hr class="my-3">
            <div class="position-absolute bottom-0 w-90">
              <ul class="nav flex-column mb-auto">
                <li class="nav-item">
                  <a class="nav-link d-flex align-items-center gap-2" href="#">
                    <svg class="bi">
                      <use xlink:href="#door-closed" />
                    </svg>
                    Sign out
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
        <div
          class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
          <h1 class="h2">Gestión de usuarios</h1>
          <div class="btn-toolbar mb-2 mb-md-0">
            <div class="btn-group me-2">
              <div class="container my-5">
                <nav aria-label="breadcrumb">
                  <ol
                    class="breadcrumb breadcrumb-custom overflow-hidden text-center bg-body-tertiary border rounded-3">
                    <li class="breadcrumb-item">
                      <a class="link-body-emphasis fw-semibold text-decoration-none" href="#">
                        <svg class="bi" width="16" height="16">
                          <use xlink:href="#house-door-fill"></use>
                        </svg>
                        Home
                      </a>
                    </li>
                    <li class="breadcrumb-item active" aria-current="page">
                      Lista de usuarios
                    </li>
                  </ol>
                </nav>
              </div>
            </div>

          </div>
        </div>
        <section class="content">
          <div class="container-fluid">
            <div class="row">
              <div class="card-body pad table-responsive">
                <div class="box-header with-border">


                  <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modalAgregarUsuario"> Agregar usuario</button>

                </div>
                <table class="table table-bordered table-hover tablas">
                  <thead>
                    <tr>
                      <th>#</th>
                      <th>ID</th>
                      <th>Nombre</th>
                      <th>Perfil</th>
                      <th>Acciones</th>
                    </tr>
                  </thead>
                  <tbody>
                    <% usuarios.forEach(usuario=> { %>
                      <tr>
                        <td>1</td>
                        <td>
                          <%= usuario.id %>
                        </td>
                        <td>
                          <%= usuario.nombre %>
                        </td>
                        <td>
                          <%= usuario.rol %>
                        </td>
                        <td>
                          <a href="/usuarios/edit/<%= usuario.id %>" class="btn btn-sm btn-warning"> <i
                              class="fa fa-pencil" aria-hidden="true"></i> Editar</a> |
                          <a href="/usuarios/delete/<%= usuario.id %>" class="btn btn-sm btn-danger"> <i
                              class="fa fa-trash-o" aria-hidden="true"></i> Eliminar</a>
                        </td>
                      </tr>
                      <% }) %>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </section>
      </main>

    </div>
  </div>

</body>

<script src="/bootstrap/js/bootstrap.bundle.min.js"></script>

<script>


  //Funcion cuando carga la pagina 
  window.onload = function () {

    //valida si existe el token
    if (localStorage.getItem('token') == undefined) {
      window.location.href = "./login";
    }

    //Verifica si esta activo el token
    validaToken();

  }

  $(document).ready(function () {
    $('.tablas').DataTable();
  });


</script>

</html>

<div class="modal fade" id="modalAgregarUsuario">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Agregar usuario</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form role="form" method="post" enctype="multipart/form-data" id="formIngUsuario">
          <div class="form-group">
            <label for="nombre">Nombre</label>
            <input type="text" id="nombre" name="nombre" class="form-control" required>
          </div>

          <div class="form-group">
            <label for="Contraseña">Contraseña</label>
            <input type="password" id="contrasena" name="contrasena" class="form-control" required>
          </div>

          <div class="form-group">
            <label for="rol">Rol</label>
            <select id="rol" name="rol" class="form-control custom-select" required>
              <option disabled="">Selecciona uno</option>
              <option value="1">Admon. Gral.</option>
              <option value="2">Evaluador</option>
              <option value="3">Otro</option>
            </select>
          </div>

      </div>
      <div class="modal-footer justify-content-between">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary">Guardar</button>
      </div>
      </form>
    </div>
  </div>
</div>